name: Lint
on:
  pull_request:
    branches:
      - main
permissions:
  contents: read

jobs:
  lint:
    concurrency:
      group: lint-${{ github.event_name == 'push' && github.run_number || github.ref }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install package dependencies
        run: pip install .[lint]

      - name: Show versions
        run: pip freeze

      - name: Run pre-commit
        uses: pre-commit/action@v3
        with:
          extra_args: --verbose --all-files
