name: Tests
on:
  pull_request:
    branches:
      - main
permissions:
  contents: read

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
        python_version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]
        install_xdist: [ true, false ]
    concurrency:
      group: tests-${{ github.event_name == 'push' && github.run_number || github.ref }}-${{ matrix.os }}-${{ matrix.python_version }}-$${{ matrix.install_xdist }}
      cancel-in-progress: true
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python_version }}

      - name: Upgrade pip
        run: pip install --upgrade pip wheel

      - name: Install package dependencies
        run: pip install .[test]

      - name: Maybe install pytest-xdist
        if: ${{ matrix.install_xdist }}
        run: pip install pytest-xdist

      - name: Show versions
        run: pip freeze

      # Not good style, but we can avoid setup/teardown by additional run steps
      - name: Test 9.0.0
        run: pip install pytest==9.0.0 && pytest tests/

      - name: Test 8.4.2
        run: pip install pytest==8.4.2 && pytest tests/

      - name: Test 8.3.5
        run: pip install pytest==8.3.5 && pytest tests/

      - name: Test 8.2.2
        run: pip install pytest==8.2.2 && pytest tests/

      - name: Test 8.1.2
        run: pip install pytest==8.1.2 && pytest tests/

      - name: Test 8.0.2
        run: pip install pytest==8.0.2 && pytest tests/
